.icon_info ul li {
    float: left;
    width: 35px;
    /* height: 35px; */
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    position: relative;
    margin: 0px 0 0 0px;
  }