<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar_blog_1">
    <div class="sidebar-header">
      <div class="logo_section">
        <a
          ><img
            class="logo_icon img-responsive"
            src="assets/images/logo/logo_icon.png"
        /></a>
      </div>
    </div>
    <div class="sidebar_user_info">
      <div class="icon_setting"></div>
      <div class="user_profle_side">
        <div class="user_img">
          <img
            class="img-responsive"
            src="assets/images/layout_img/erwini2.png"
          />
        </div>
        <div class="user_info">
          <h6>ERWINI</h6>
          <!-- <p><span class="online_animation"></span> Online</p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar_blog_2">
    <h4>General</h4>
    <ul class="list-unstyled components">
      <li>
        <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
        routerLink="/dashbord" routerLinkActive="active" ><i class="fa fa-dashboard yellow_color"></i>
          <span>Dashboard</span></a
        >
      </li>
      <li>
        <a routerLink="/agriculteur" routerLinkActive="active" 
          ><i class="fa fa-clock-o orange_color"></i>
          <span>agriculteurs</span></a
        >
      </li>
      <li>
        <a aria-expanded="false" class="dropdown-toggle"
        routerLink="/training" routerLinkActive="active"  ><i class="fa fa-diamond purple_color"></i> <span>Map</span></a
        >
      </li>
      <li>
        <a routerLink="/apply" routerLinkActive="active" ><i class="fa fa-table purple_color2"></i> <span>Apply</span></a>
      </li>
      <li>
        <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
        routerLink="/white_test" routerLinkActive="active"  ><i class="fa fa-object-group blue2_color"></i>
          <span>Notification</span></a
        >
        <!-- <ul class="collapse list-unstyled" id="apps">
          <li>
            <a>> <span>Email</span></a>
          </li>
          <li>
            <a>> <span>Calendar</span></a>
          </li>
          <li>
            <a>> <span>Media Gallery</span></a>
          </li>
        </ul> -->
      </li>
    </ul>
  </div>
</nav>
<!-- end sidebar -->
