
  
<div class="full_container">
    <div class="inner_container">
      <app-sidebar></app-sidebar>
      <div id="content">
      <app-navbar></app-navbar>
      <div class="midde_cont">
          <div class="container-fluid">
  
  
  <div class="row column_title">
    <div class="col-md-12">
      <div class="page_title">
        <h2>Notification</h2>
      </div>
    </div>
  
  <div class="col-md-12">
      <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
          <div class="button_block margin_0">
            <!-- <button
              type="button"
              class="btn cur-p btn-primary"
              data-toggle="modal"
              data-target="#myModal"
          
            >
              Add New +
            </button> -->
            <!-- Rounded switch -->
  
          </div>
        </div>
        
        
        <div class="container">
            <h1>Notification Page</h1>
            <div class="alert alert-success" role="alert">
              This is a success notification.
            </div>
            <div class="alert alert-info" role="alert">
              This is an info notification.
            </div>
            <div class="alert alert-warning" role="alert">
              This is a warning notification.
            </div>
            <div class="alert alert-danger" role="alert">
              This is an error notification.
            </div>
          </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  </div>
  </div>
  </div>
  </div>
  </div>