<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar_blog_1">
    <div class="sidebar-header">
      <div class="logo_section">
        <a
          ><img
            class="logo_icon img-responsive"
            src="assets/images/logo/logo_icon.png"
        /></a>
      </div>
    </div>
    <div class="sidebar_user_info">
      <div class="icon_setting"></div>
      <div class="user_profle_side">
        <div class="user_img">
          <img
            class="img-responsive"
            src="assets/images/layout_img/erwini2.png"
          />
        </div>
        <div class="user_info">
          <h6>ERWINI</h6>
          <!-- <p><span class="online_animation"></span> Online</p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar_blog_2">
    <h4>General</h4>
    <ul class="list-unstyled components">
      <li>
        <a 
        routerLink="/dashbord" routerLinkActive="active" ><i class="fa fa-dashboard yellow_color"></i>
          <span>Dashboard</span></a>
      </li>
      <li>
        <a routerLink="/moteur" routerLinkActive="active" 
          ><img
           class="img-responsive img-resp"
           src="assets\images\logo\pompe.png">
          <span> moteurs</span></a
        >
      </li>
      <li>
        <a routerLinkActive="active"  ><img class="img-responsive  img-resp" src="assets\images\logo\map.png"/> <span> Map</span></a
        >
      </li>
      <li>
        <a routerLink="/vanne" routerLinkActive="active" ><img class="img-responsive  img-resp"  src="assets\images\logo\engine.png"> <span>Vannes</span></a>
      </li>
      <li>
        <a routerLink="/historique" routerLinkActive="active" ><img class="img-responsive  img-resp"  src="assets\images\logo\history.png"> <span>Historiques</span></a>
      </li>
      <li>
        <a routerLink="/notification" routerLinkActive="active"  ><img class="img-responsive  img-resp"  src="assets\images\logo\notifications.png"> <span>Notifications</span></a>
          
   
      </li>
    </ul>
  </div>
</nav>

