

 <img class="wave" src="assets/images/logo/wave.png">
 <div class="container">
    <div class="img">
       <img src="assets/images/logo/bg.svg">
    </div>
    <div class="login-content">
       <form action="index.html">
          <img src="assets/images/layout_img/logo _erwini.png">
          <h2 class="title">Welcome</h2>
               <div class="input-div one">
                  <div class="i">
                        <!-- <i class="fas fa-user"></i> -->
                  </div>
                  <div class="div">
                       
                     <input  matInput placeholder="Adresse e-mail ou numéro de tél." type="text" class="input" ngModel name="email">
                  </div>
               </div>
               <div class="input-div pass">
                  <div class="i"> 
                      <!-- <i class="fas fa-lock"></i> -->
                  </div>
                  <div class="div">
                     
                     <input matInput placeholder="Mot de passe" [type]="changetype?'password':'text'" class="input" ngModel   name="password">
                     <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>
                </div>
             </div>
             <input type="submit" class="btn" value="Login">
          </form>
      </div>
  </div>


  