<!-- <div class="center verticle_center full_height">
    <div class="login_section">
       <div class="logo_login">
          <div class="center">
             <img width="210" src="assets/images/layout_img/erwini2.png" alt="#" />
          </div>
       </div>
       <div class="login_form">
          <form>
             <fieldset>
                <div class="field">
                   <label class="label_field">ID</label>
                   <input type="id" name="id" placeholder="ID" />
                </div>
                <div class="field">
                   <label class="label_field">Password</label>
                   <input type="password" name="password" placeholder="Password" />
                </div>
                <div class="field">
                   <label class="label_field hidden">hidden label</label>
                   <label class="form-check-label"><input type="checkbox" class="form-check-input"> Remember Me</label>
                   <a class="forgot" href="">Forgotten Password?</a>
                </div>
                <div class="field margin_0">
                   <label class="label_field hidden">hidden label</label>
                   <button class="main_bt" routerLink="/home">Sing In</button>
                </div> 
             </fieldset>
          </form>
       </div>
    </div>
 </div> -->


 <img class="wave" src="assets/images/logo/wave.png">
 <div class="container">
    <div class="img">
       <img src="assets/images/logo/bg.svg">
    </div>
    <div class="login-content">
       <form action="index.html">
          <img src="assets/images/layout_img/logo _erwini.png">
          <h2 class="title">Welcome</h2>
               <div class="input-div one">
                  <div class="i">
                        <i class="fas fa-user"></i>
                  </div>
                  <div class="div">
                        <h5>Username</h5>
                        <input type="text" class="input">
                  </div>
               </div>
               <div class="input-div pass">
                  <div class="i"> 
                      <i class="fas fa-lock"></i>
                  </div>
                  <div class="div">
                      <h5>Password</h5>
                      <input type="password" class="input">
                </div>
             </div>
             <a href="#">Forgot Password?</a>
             <input type="submit" class="btn" value="Login">
          </form>
      </div>
  </div>
