/* agm-map {
  height: 300px;
}


* {
  font-family: Lato;
}

a {
  color: darkblue;
} */


.setting {
  float: right;
  padding: 0;
}
.spaceicon {
}

.icon_info ul li {
  float: left;
  width: 35px;
  /* height: 35px; */
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  position: relative;
  margin: 0px 0 0 0px;
}

.icon_info ul li .fa-plus-circle {
  color: #ff5722;
  size: 50px;
}

.icon_info ul li .fa-trash {
  color: #1ed085;
  size: 50px;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 3, 3);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #21f387;
}

input:focus + .slider {
  box-shadow: 0 0 1px #21f387  ;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.start {
  background-color: green;
  color: white;
}

.stop {
  background-color: red;
  color: white;
}



.alert-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: #ffc107;
  color: #212529;
}

.fa-exclamation-triangle {
  font-size: 2em;
  margin-right: 0.5em;
}


.sensor-data {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.battery-status {
  text-align: center;
}

.battery-level {
  font-weight: bold;
  color: green;
}